<% provide(:title, 'About Us')%>
<div class="center hero-unit">
  <h3>Whimper was created for annoyed people by annoyed people.</h3>
  <h3>  </h3>
  <h3>Our team of frustrated engineers built this crapy website for you to share your
	  annoyances with your friends.</h3>
  <h3>(as if someone gives a damn)</h3>
</div>
